<div class="container login-container">
        <div class="row" style="padding-top: 25px">
          <div
            class="col-12"
            style="border: 5px solid burlywood; background-color: burlywood"
          >
            <h4>Login</h4>
          </div>

          <div
            class="col-12"
            style="border: 5px solid burlywood; padding: 10px"
          >
          <form>
            <div class="form-group" style="padding: 10px;">
              <input
                type="text"
                class="form-control"
                placeholder="Your Email *"
                id="email-login"
              />
            </div>
            <div class="form-group" style="padding: 10px;">
              <input
                type="password"
                class="form-control"
                placeholder="Your Password *"
                id="password-login"
              />
            </div>
            <div class="form-group btn-secondary btn-lg" style="padding: 10px; color:bisque">
              <input type="submit" class="btnSubmit" id="login-button" />
            </div>
            <div class="form-group" style="padding: 10px;">
              <a href="#" class="ForgetPwd">Signup Instead</a>
            </div>
          </form>
        </div>
        </div>
        </div>
      </div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/login.js"></script>
